# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# Data files (avoid pushing raw/processed data)
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid
*.sock

# Misc
*.sqlite3